# Exclusion de plusieurs types de fichiers (racine ou sous-dossiers).
**/.svn
**/.hg
**/.env
**/.env.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Exclusion de plusieurs répertoires (racine ou sous-dossiers).
**/.git
**/.DS_Store/
**/node_modules/
**/dist/

